{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">

    <script src="https://kit.fontawesome.com/fd15561814.js" crossorigin="anonymous"></script>

    <title>MARU-AGOS</title>
  </head>
<body>
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">

  <div class="container">
    <a class="navbar-brand" href="/">MARU AGOS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">BAŞ SAHYPA
                <!-- <span class="sr-only">(current)</span> -->
              </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/products" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Önümler</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          	<a href="/products_demirgapylar" class="dropdown-item">Demir Gapylar</a>
          	<a href="/products_agacgapylar" class="dropdown-item">Agaç Gapylar</a>
          	<a href="/products_mebeller" class="dropdown-item">Mebeller</a>
          	<a href="/products_demironumler" class="dropdown-item">Demir Önümler</a>
          	<a href="/products_beylekiler" class="dropdown-item">Beýlekiler</a>
            <div class="dropdown-divider"></div>
            <a href="/products" class="dropdown-item">Hemmesi</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Biz barada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Salgymyz</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/">TM</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/ru">RU</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<hr class="p-2">


    {% block content %}

    {% endblock content %}



  <footer class="footer mt-auto py-3">
    
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>MARU-AGOS</h4>
          <h5>Şu ýerde Logotip</h5>
          <p><em></em></p>
        </div>

        <div class="col-md-4">
          <p><em>SALGYMYZ: MARY Ş. MOLLANEPES KÖÇ. 27</em></p>
          <p>"Ýedi Ganat Dükany"</p>
          <p>Tel: (+993522) 3-70-28, 7-07-80, 6-32-37</p>
          <p>Email: info@maru-agos.com</p>
          <p>Email: info2@maru-agos.com</p>

        </div>
        
        <div class="col-md-4">
          <p><a class="text-reset text-decoration-none" href="/products_agacgapylar">Agaç Gapylar</a></p>
          <p><a class="text-reset text-decoration-none" href="/products_demirgapylar">Demir Gapylar</a></p>
          <p><a class="text-reset text-decoration-none" href="/products_mebeller">Mebeller</a></p>
          <p><a class="text-reset text-decoration-none" href="/products_demironumler">Demir Önumler</a></p>
          <p><a class="text-reset text-decoration-none" href="/products_beylekiler">Beýlekiler</a></p>
        </div>
      
      </div>
    </div>




  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static '/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>