{% extends "base_ru.html" %}
{% load static %}

{% block content %}
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center">LOGOTIP</h1>
			</div>
		</div>
		<hr>
		
		<div class="row">
			<div class="col-md-6 map-responsive iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6322.683499544473!2d61.829922841253136!3d37.59411518823903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f418e30b4a4a703%3A0xb8dfc2b4161b4e83!2sMaru%20AGOS%20H%2FK%20gapylar%20we%20mebeller!5e0!3m2!1sru!2sjp!4v1570536002668!5m2!1sru!2sjp"  frameborder="0" width="800" height="600" style="border:3;" allowfullscreen=""></iframe>
			</div>
			<div class="col-md-6">
				<img src="{% static 'furnitures/images/furniture_image.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
				<div class="row">
					<div class="col-12">
						<p class="text-uppercase">Контакты: г. Мары ул. Молланепес 27</p>
						<p class="text-uppercase">Магазин "Ýedi Ganat"</p>
						<p class="text-uppercase">Тел: (+993522) 3-70-28, 7-07-80, 6-32-37</p>
						<p class="text-uppercase">e-mail: admin@maru-agos.com</p>
					</div>
				</div>	
			</div>
		</div>

		<hr>

		<div class="row">
			
			<div class="col-md-6">
				<img src="{% static 'furnitures/images/furniture_image.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
				<div class="row">
					<div class="col-12">
						<p class="text-uppercase">Контакты: г. Мары ул. Молланепес 27</p>
						<p class="text-uppercase">Магазин "Ýedi Ganat"</p>
						<p class="text-uppercase">Тел: (+993522) 3-70-28, 7-07-80, 6-32-37</p>
						<p class="text-uppercase">e-mail: admin@maru-agos.com</p>
					</div>
				</div>	
			</div>


			<div class="col-md-6 map-responsive iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6322.683499544473!2d61.829922841253136!3d37.59411518823903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f418e30b4a4a703%3A0xb8dfc2b4161b4e83!2sMaru%20AGOS%20H%2FK%20gapylar%20we%20mebeller!5e0!3m2!1sru!2sjp!4v1570536002668!5m2!1sru!2sjp"  frameborder="0" width="800" height="600" style="border:3;" allowfullscreen=""></iframe>
			</div>
		</div>


		<hr>
		
		<div class="row">
			<div class="col-md-6 map-responsive iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6322.683499544473!2d61.829922841253136!3d37.59411518823903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f418e30b4a4a703%3A0xb8dfc2b4161b4e83!2sMaru%20AGOS%20H%2FK%20gapylar%20we%20mebeller!5e0!3m2!1sru!2sjp!4v1570536002668!5m2!1sru!2sjp"  frameborder="0" width="800" height="600" style="border:3;" allowfullscreen=""></iframe>
			</div>
			<div class="col-md-6">
				<img src="{% static 'furnitures/images/furniture_image.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
				<div class="row">
					<div class="col-12">
						<p class="text-uppercase">Контакты: г. Мары ул. Молланепес 27</p>
						<p class="text-uppercase">Магазин "Ýedi Ganat"</p>
						<p class="text-uppercase">Тел: (+993522) 3-70-28, 7-07-80, 6-32-37</p>
						<p class="text-uppercase">e-mail: admin@maru-agos.com</p>
					</div>
				</div>	
			</div>
		</div>

<hr>

		<div class="row">
			<div class="col-md-6">
				<img src="{% static 'furnitures/images/furniture_image.jpg' %}" class="img-fluid img-thumbnail" alt="Responsive image">
				<div class="row">
					<div class="col-12">
						<p class="text-uppercase">Контакты: г. Мары ул. Молланепес 27</p>
						<p class="text-uppercase">Магазин "Ýedi Ganat"</p>
						<p class="text-uppercase">Тел: (+993522) 3-70-28, 7-07-80, 6-32-37</p>
						<p class="text-uppercase">e-mail: admin@maru-agos.com</p>
					</div>
				</div>	
			</div>

			<div class="col-md-6 map-responsive iframe">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6322.683499544473!2d61.829922841253136!3d37.59411518823903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f418e30b4a4a703%3A0xb8dfc2b4161b4e83!2sMaru%20AGOS%20H%2FK%20gapylar%20we%20mebeller!5e0!3m2!1sru!2sjp!4v1570536002668!5m2!1sru!2sjp"  frameborder="0" width="800" height="600" style="border:3;" allowfullscreen=""></iframe>
			</div>
		</div>
	</div>

{% endblock content %}